* {
    padding: 0%;
    margin: 0%;


}

/* common color */
primari-color {
    color: #FFFFFF;
}

/* head section style */

.main-head {
    background-image: url(../new-images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 50px 140px;


}

.heading-tille1 {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 32px;
    text-align: center;
    padding-top: 212px;

}

.heading-tille2 {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* offer section style */
.offer-percentage {
    color: #F00;
    font-family: Inter;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 120;
}

.offer-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.offer-title2 {
    color: #070211;
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
}

.new-year-phito {
    width: 600px;
    height: 350px;
    margin: 35px 500px;
}

/* welcome section */
.welcome-container {
    background-image: url("../new-images/Vectorrr.png");
    width: 1320px;
    height: 500px;
    margin: 50px 130px;
    background-repeat: no-repeat;
    border-radius: 10px;
    display: flex;



}

.weelcome-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 50px;
    font-weight: 800;
    width: 500px;
    margin: 60px 100px;
    padding-bottom: 0px;

}

.welcome-discription {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 350;
    width: 650px;
    margin: 20px 100px;
    padding: 0px;
}

.join-now {
    color: #03e9f4;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px 100px;

}

a:hover {
    background-color: #03e9f4;
    color: #070211;
    border-image-width: 50%;

}

.group-imag {
    margin-top: 20px;
    width: 50%;
}

/* meeting information section  */

.meeting-section-container {
    background-color: rgba(238, 216, 216, 0.582);
    width: 1320px;
    height: 400px;
    margin: 0px 128px;
    border-radius: 10px;

}

.infirnation {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    padding: 100px 0px 0px 0px;

}

.separate-color {
    color: rgb(236, 84, 84);
}

.button {
    border-radius: 8px;
    background: #F00;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
    margin: 20px 580px;
    padding: 8px 20px;

}

/* comming soon style section */
.comming-container {
    display: flex;
    width: 1320px;
    height: 450px;
    margin: 120px 128px;
    border-radius: 10px;
}

.title1 {
    color: #F00;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 8px;
    padding-top: 20px;
}

.title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 35px;
    font-weight: 700;

}

.discription {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 400px;
    color: dimgray;
    padding-top: 10px;

}

.right {
    margin: 0px 50px;
    padding-left: 30px;
}

.year {
    color: #F00;
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
}

.discription2 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 400px;
    color: dimgray;
    padding-top: 20px;
    padding-bottom: 20px;
}

.im2 {
    padding-top: 30px;
    height: 150px;
}

.left {
    margin-right: 50px;
}

.im1 {
    border: 20px solid red;
    border-radius: 50%;
}

/* holiday sale style section  */
.holiday-container {
    width: 1320px;
    height: 900px;
    background-image: url("../new-images/Rectangle\ 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    margin: 120px 128px;
}

.title-section {
    text-align: center;
}

.holi-title1 {
    color: #070211;
    font-family: Inter;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.holi-title2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 15px;
}
.separate-color2{
    color: #F00;
}
.holi-title3 {
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    width: 1050px;
    color: grey;
    padding-bottom: 25px;
}

.image-container {
    display: flex;
}

.imaag1 {
    padding-top: 55px;
width: 300px;
height: 300px;
}

.imaag2 {
    width: 200px;
    height: 200px;
}

.imaag3 {
    margin-right: 100px;
    width: 400px;
    height: 400px;
}