* {
    padding: 0%;
    margin: 0%;


}

/* common color */
primari-color {
    color: #FFFFFF;
}

/* head section style */

.main-head {
    background-image: url(../new-images/Banner\ Image.png);
    width: 1320px;
    height: 600px;
    margin: 50px 140px ;


}

.heading-tille1 {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 32px;
    text-align: center;
    padding-top: 212px;

}

.heading-tille2 {
    color: #FFFFFF;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    text-align: center;
}

/* offer section style */
.offer-container {
    

}

.offer-percentage {
    color: #F00;
    font-family: Inter;
    font-size: 75px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 120;
}

.offer-title1 {
    color: #F00;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.offer-title2 {
    color: #070211;
    font-family: Inter;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
}

.new-year-phito {
  width: 600px;
  height: 350px;  
  margin: 35px 500px 
    

}